<!-- <p-breadcrumb class="max-w-full " styleClass="mb-3" [model]="items" [home]="home"></p-breadcrumb> -->
<div class="card">
  <div class="grid p-fluid bg-primary-reverse border-round">
    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.firstName" | translate
        }}</label>
        <input
          pInputText
          id="name"
          required
          [placeholder]="'setting.users.firstName' | translate"
        />

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.lastName" | translate
        }}</label>
        <input
          pInputText
          id="name"
          required
          [placeholder]="'setting.users.lastName' | translate"
        />

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.userName" | translate
        }}</label>
        <input
          pInputText
          id="name"
          required
          [placeholder]="'setting.users.userName' | translate"
        />

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.email" | translate
        }}</label>
        <input
          pInputText
          id="Email"
          required
          [placeholder]="'setting.users.email' | translate"
        />

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "public.phoneNumber" | translate
        }}</label>
        <input
          pInputText
          id="Email"
          required
          [placeholder]="'public.phoneNumber' | translate"
        />

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold mb-2">{{ "public.status" | translate }}</label>
        <p-dropdown
          [placeholder]="'public.selectOption' | translate"
        ></p-dropdown>
        <!-- [options]="states"
        [(ngModel)]="state" -->
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.password" | translate
        }}</label>
        <p-password
          required
          [placeholder]="'setting.users.password' | translate"
        ></p-password>

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.passwordConfiguration" | translate
        }}</label>
        <p-password
          required
          [placeholder]="'setting.users.passwordConfiguration' | translate"
        ></p-password>

        <samp class="p-error block">
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <!-- table -->
  <p-table [value]="screen" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">
          {{ "setting.permissions.screens" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isView" | translate }}
        </th>
        <th style="width: 10%">{{ "setting.permissions.menu" | translate }}</th>
        <th style="width: 10%">
          {{ "setting.permissions.isDetail" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isCreate" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isUpdate" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isDelete" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isPrint" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isImport" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isExport" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.all" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-screen>
      <tr>
        <td>
          {{ screen.translate | translate }}
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.isView"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.menu"
            [disabled]="!screen.isView"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isDetail"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isCreated"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isUpdated"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isDeleted"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isPrint"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isImport"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isExport"
            (onChange)="addPermission()"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.all"
            (onChange)="addAllPermissionToScreen()"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="flex flex-wrap gap-2 mt-1 mb-2 justify-content-end">
  <p-button [label]="'public.save' | translate"></p-button>
  <!-- (click)="createCatgories()" -->
</div>
