<!-- <p-breadcrumb class="max-w-full " styleClass="mb-3" [model]="items" [home]="home"></p-breadcrumb> -->

<p-breadcrumb
  class="max-w-full"
  styleClass="mb-3"
  [model]="items"
  [home]="home"
></p-breadcrumb>
<div class="card">
  <div class="grid p-fluid bg-primary-reverse border-round">
    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.firstName" | translate
        }}</label>
        <input
          pInputText
          required
          [placeholder]="'setting.users.firstName' | translate"
          id="firstName"
          #firstName="ngModel"
          [(ngModel)]="user.firstName"
          [ngClass]="{
            'ng-dirty':
              (firstName.invalid && submitted) ||
              (firstName.dirty && firstName.invalid)
          }"
        />

        <samp
          *ngIf="
            (firstName.invalid && submitted) ||
            (firstName.dirty && firstName.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.lastName" | translate
        }}</label>
        <input
          pInputText
          required
          [placeholder]="'setting.users.lastName' | translate"
          id="lastName"
          #lastName="ngModel"
          [(ngModel)]="user.lastName"
          [ngClass]="{
            'ng-dirty':
              (lastName.invalid && submitted) ||
              (lastName.dirty && lastName.invalid)
          }"
        />

        <samp
          *ngIf="
            (lastName.invalid && submitted) ||
            (lastName.dirty && lastName.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.userName" | translate
        }}</label>
        <input
          pInputText
          required
          [placeholder]="'setting.users.userName' | translate"
          id="userName"
          #userName="ngModel"
          [(ngModel)]="user.userName"
          [ngClass]="{
            'ng-dirty':
              (userName.invalid && submitted) ||
              (userName.dirty && userName.invalid)
          }"
        />

        <samp
          *ngIf="
            (userName.invalid && submitted) ||
            (userName.dirty && userName.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.email" | translate
        }}</label>
        <input
          pInputText
          required
          [placeholder]="'setting.users.email' | translate"
          id="email"
          #email="ngModel"
          [(ngModel)]="user.email"
          [ngClass]="{
            'ng-dirty':
              (email.invalid && submitted) || (email.dirty && email.invalid)
          }"
        />

        <samp
          *ngIf="(email.invalid && submitted) || (email.dirty && email.invalid)"
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "public.phoneNumber" | translate
        }}</label>
        <p-inputNumber
          mode="decimal"
          inputId="withoutgrouping"
          [useGrouping]="false"
          id="phoneNumber"
          #phoneNumber="ngModel"
          [(ngModel)]="phone"
          [required]="true"
          [minlength]="7"
          [maxlength]="9"
          [placeholder]="'public.phone' | translate"
          [ngClass]="{
            'ng-dirty':
              (phoneNumber.invalid && submitted) ||
              (phoneNumber.dirty && phoneNumber.invalid)
          }"
        ></p-inputNumber>

        <samp
          *ngIf="
            (phoneNumber.invalid && submitted) ||
            (phoneNumber.dirty && phoneNumber.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold mb-2">{{ "public.status" | translate }}</label>
        <p-dropdown
          [placeholder]="'public.selectOption' | translate"
          [options]="states"
          [(ngModel)]="state"
        ></p-dropdown>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.password" | translate
        }}</label>
        <p-password
          required
          [placeholder]="'setting.users.password' | translate"
          id="password"
          #password="ngModel"
          [(ngModel)]="user.password"
          [ngClass]="{
            'ng-dirty':
              (password.invalid && submitted) ||
              (password.dirty && password.invalid)
          }"
        ></p-password>

        <samp
          *ngIf="
            (password.invalid && submitted) ||
            (password.dirty && password.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>

    <div class="col-6">
      <div class="flex flex-column">
        <label class="font-bold required mb-2">{{
          "setting.users.passwordConfiguration" | translate
        }}</label>
        <p-password
          required
          [placeholder]="'setting.users.passwordConfiguration' | translate"
          id="confirmpassword"
          #confirmpassword="ngModel"
          [(ngModel)]="user.confirmPassword"
          [ngClass]="{
            'ng-dirty':
              (confirmpassword.invalid && submitted) ||
              (confirmpassword.dirty && confirmpassword.invalid)
          }"
        ></p-password>
        <samp
          *ngIf="
            (confirmpassword.invalid && submitted) ||
            (confirmpassword.dirty && confirmpassword.invalid)
          "
          class="p-error block"
        >
          {{ "public.inputRequired" | translate }}
        </samp>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="font-bold text-900 mb-3">
    <label>{{ "setting.users.permission" | translate }}</label>
  </div>
  <!-- table -->
  <p-table [value]="screen" [tableStyle]="{ 'min-width': '60rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 10%">
          {{ "setting.permissions.screens" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isView" | translate }}
        </th>
        <th style="width: 10%">{{ "setting.permissions.menu" | translate }}</th>
        <th style="width: 10%">
          {{ "setting.permissions.isDetail" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isCreate" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isUpdate" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isDelete" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isPrint" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isImport" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.isExport" | translate }}
        </th>
        <th style="width: 10%">
          {{ "setting.permissions.all" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-screen>
      <tr>
        <td>
          {{ screen.translate | translate }}
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.isView"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.menu"
            [disabled]="!screen.isView"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isDetail"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isCreated"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isUpdated"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isDeleted"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isPrint"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isImport"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [disabled]="!screen.isView"
            [(ngModel)]="screen.isExport"
            (onChange)="addPermission(screen)"
          ></p-checkbox>
        </td>
        <td>
          <p-checkbox
            [binary]="true"
            [(ngModel)]="screen.all"
            (onChange)="addAllPermissionToScreen($event.checked, screen)"
          ></p-checkbox>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<div class="flex flex-wrap gap-2 mt-1 mb-2 justify-content-end">
  <p-button
    [label]="'public.save' | translate"
    [loading]="submitLode"
    (onClick)="createUser()"
  ></p-button>
  <p-button
    severity="danger"
    [routerLink]="rout.users"
    [label]="'public.cancel' | translate"
  ></p-button>
</div>
