<div class="grid">
  <!-- 1 -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0 p-3">
      <div class="flex justify-content-between mb-1">
        <div>
          <span class="block text-500 font-medium mb-3">Orders</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span
      ><span class="text-500">since last visit</span>
    </div>
  </div>
  <!-- 2 -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0 p-3">
      <div class="flex justify-content-between mb-1">
        <div>
          <span class="block text-500 font-medium mb-3">Oyusras</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span
      ><span class="text-500">since last visit</span>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0 p-3">
      <div class="flex justify-content-between mb-1">
        <div>
          <span class="block text-500 font-medium mb-3">Oyusras</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span
      ><span class="text-500">since last visit</span>
    </div>
  </div>

  <!-- 4 -->
  <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0 p-3">
      <div class="flex justify-content-between mb-1">
        <div>
          <span class="block text-500 font-medium mb-3">Oyusras</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span
      ><span class="text-500">since last visit</span>
    </div>
  </div>

  <!-- end -->
</div>

<!-- <div class="col-12 lg:col-6 xl:col-3">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Orders</span>
          <div class="text-900 font-medium text-xl">152</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-blue-100 border-round"
          style="width: 2.5rem; height: 2.5rem"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">24 new </span
      ><span class="text-500">since last visit</span>
    </div>
  </div> -->
<!-- <div class="col-12 flex inline-flex m-0 p-0">
  <div class="col-3">
    <p-card header="1,345">
      <p class="m-0">Lorem ipsum dolor sit amet,</p>
      <div class="col-2 w-1 h-1">
        <i class="pi pi-user align-content-start" style="font-size: 2.5rem"></i>
      </div>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="1,345">
      <p class="m-0">Lorem ipsum dolor sit amet,</p>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="1,345">
      <p class="m-0">Lorem ipsum dolor sit amet,</p>
    </p-card>
  </div>
  <div class="col-3">
    <p-card header="1,345">
      <p class="m-0">Lorem ipsum dolor sit amet,</p>
    </p-card>
  </div>
</div> -->
