<div class="card shadow-5">
  <div class="grid">
    <!-- 1 -->
    <div class="col-12 lg:col-6 xl:col-4">
      <div class="card mb-0 p-3 hover:bg-blue-50 bg-blue-100">
        <div class="flex mb-1">
          <div
            class="flex align-items-center justify-content-center bg-white border-round w-4 h-4rem mr-3"
          >
            <i class="pi pi-shopping-cart text-blue-500 text-4xl font-bold"></i>
          </div>
          <div class="align-content-start">
            <div class="text-900 font-medium text-3xl text-left">152</div>
            <span class="text-primary font-medium text-left">{{
              "home.orders" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="col-12 lg:col-6 xl:col-4">
      <div class="card mb-0 p-3 hover:bg-pink-50 bg-pink-100">
        <div class="flex mb-1">
          <div
            class="flex align-items-center justify-content-center border-round bg-white w-4 h-4rem mr-3"
          >
            <i class="pi pi-comments text-pink-600 text-3xl font-bold"></i>
          </div>
          <div>
            <div class="text-900 font-medium text-3xl">200</div>
            <span class="text-pink-600 font-medium">{{
              "home.comments" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="col-12 lg:col-6 xl:col-4">
      <div class="card mb-0 p-3 bg-indigo-100 hover:bg-indigo-50">
        <div class="flex mb-1">
          <div
            class="flex align-items-center justify-content-center border-round bg-white w-4 h-4rem mr-3"
          >
            <i class="pi pi-eye text-indigo-500 text-4xl font-bold"></i>
          </div>
          <div>
            <div class="text-900 font-medium text-3xl">152</div>
            <span class="text-indigo-500 font-bold font-medium">{{
              "home.dailyViews" | translate
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--table for resents orders  -->
<div class="grid">
  <div class="col-12 lg:col-6 xl:col-12 m-0">
    <div class="card shadow-6 hover:shadow-7">
      <h5 class="font-semibold text-cyan-700">
        {{ "home.acceptedOrdersInformation" | translate }}
      </h5>
      <p-table
        #dt
        [value]="paging.data"
        [rows]="paging.pageSize"
        [lazy]="true"
        [paginator]="true"
        [first]="paging.currentStartIndex"
        [totalRecords]="paging.totalItems"
        (onPage)="onPageChange($event)"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{ 'public.showing' | translate }} {{
          paging.currentStartIndex
        }} {{ 'public.to' | translate }} {{ paging.currentEndIndex }} {{
          'public.of' | translate
        }} {{ paging.totalItems }} {{ 'public.rows' | translate }}"
        dataKey="id"
        [tableStyle]="{ 'min-width': '30rem' }"
      >
        <!-- [rowsPerPageOptions]="[5, 10, 25, 50, 100]" -->
        <ng-template pTemplate="header">
          <tr>
            <th>{{ "home.fullUserName" | translate }}</th>
            <th>{{ "home.phone" | translate }}</th>
            <th>{{ "home.totalPrice" | translate }}</th>
            <th>{{ "home.date" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.fullNameUser }}</td>
            <td>{{ order.phone }}</td>

            <td>{{ order.totalPrice }}</td>
            <td>{{ order.date | date }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
