<div class="grid">
  <!-- 1 -->
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0 p-3 shadow-5">
      <div class="flex mb-1">
        <div
          class="flex align-items-center justify-content-center border-round bg-blue-100 w-4 h-4rem mr-3"
        >
          <i class="pi pi-shopping-cart text-blue-500 text-4xl font-bold"></i>
        </div>
        <div class="align-content-start">
          <div class="text-900 font-medium text-3xl text-left">152</div>
          <span class="text-primary font-medium text-left">Orders</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 2 -->
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0 p-3 shadow-5">
      <div class="flex mb-1">
        <div
          class="flex align-items-center justify-content-center border-round bg-pink-100 w-4 h-4rem mr-3"
        >
          <i class="pi pi-comments text-pink-600 text-3xl font-bold"></i>
        </div>
        <div>
          <div class="text-900 font-medium text-3xl">200</div>
          <span class="text-pink-600 font-medium">Comments</span>
        </div>
      </div>
    </div>
  </div>
  <!-- 3 -->
  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card mb-0 p-3 shadow-5">
      <div class="flex mb-1">
        <div
          class="flex align-items-center justify-content-center border-round bg-indigo-100 w-4 h-4rem mr-3"
        >
          <i class="pi pi-eye text-indigo-500 text-4xl font-bold"></i>
        </div>
        <div>
          <div class="text-900 font-medium text-3xl">152</div>
          <span class="text-indigo-500 font-bold font-medium">Daily Views</span>
        </div>
      </div>
    </div>
  </div>
</div>

<!--table for resents orders  -->
<div class="grid">
  <div class="col-12 lg:col-6 xl:col-8 m-0">
    <div class="card shadow-5">
      <h5 class="font-semibold font-italic line-through text-cyan-700">
        Recent Sales
      </h5>
      <p-table
        #dt
        [value]="paging.data"
        [rows]="paging.pageSize"
        [lazy]="true"
        [paginator]="true"
        [first]="paging.currentStartIndex"
        [totalRecords]="paging.totalItems"
        (onPage)="onPageChange($event)"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="{{ 'public.showing' | translate }} {{
          paging.currentStartIndex
        }} {{ 'public.to' | translate }} {{ paging.currentEndIndex }} {{
          'public.of' | translate
        }} {{ paging.totalItems }} {{ 'public.rows' | translate }}"
        dataKey="id"
        [tableStyle]="{ 'min-width': '30rem' }"
      >
        <!-- [rowsPerPageOptions]="[5, 10, 25, 50, 100]" -->
        <ng-template pTemplate="header">
          <tr>
            <th>{{ "order.name" | translate }}</th>
            <th>{{ "order.category" | translate }}</th>
            <th>{{ "order.price" | translate }}</th>
            <th>{{ "order.date" | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
          <tr>
            <td>{{ order.name }}</td>
            <td>{{ order.category }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.date | date }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="col-12 lg:col-6 xl:col-4">
    <div class="card shadow-5 h-28rem">
      <h5 class="font-semibold font-italic line-through text-cyan-700">
        Notifications
      </h5>
      <div class="flex flex-column align-items-center">
        <span class="">There are Not Notifications</span>
      </div>
    </div>
  </div>
</div>
