<!-- <p-breadcrumb class="max-w-full " styleClass="mb-3" [model]="items" [home]="home"></p-breadcrumb> -->
<div class="grid p-fluid">
  <div class="col-6">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "service.name" | translate
      }}</label>
      <input
        pInputText
        id="name"
        #name="ngModel"
        [(ngModel)]="serviceType.name"
        required
        [placeholder]="'service.name' | translate"
        [ngClass]="{
          'ng-dirty':
            (name.invalid && submitted) || (name.dirty && name.invalid)
        }"
      />
      <samp
        *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)"
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>

  <div class="col-6" style="margin-top: 0px">
    <!-- col-6 the orginal -->
    <div class="flex flex-column">
      <label class="font-bold mb-2">{{ "public.status" | translate }}</label>
      <p-dropdown
        [options]="states"
        [(ngModel)]="state"
        [placeholder]="'public.selectOption' | translate"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "public.description" | translate
      }}</label>

      <textarea
        pInputTextarea
        id="description"
        #description="ngModel"
        [(ngModel)]="serviceType.description"
        required
        [placeholder]="'public.description' | translate"
        [ngClass]="{
          'ng-dirty':
            (description.invalid && submitted) ||
            (description.dirty && description.invalid)
        }"
      ></textarea>
      <samp
        *ngIf="
          (description.invalid && submitted) ||
          (description.dirty && description.invalid)
        "
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-wrap gap-2 mt-3 mb-2 justify-content-end">
      <p-button
        [label]="'public.save' | translate"
        (click)="createServiceType()"
      ></p-button>
      <p-button
        severity="danger"
        (onClick)="closePopup()"
        [label]="'public.cancel' | translate"
      ></p-button>
    </div>
  </div>
</div>
