<!-- <p-breadcrumb class="max-w-full " styleClass="mb-3" [model]="items" [home]="home"></p-breadcrumb> -->
<div class="grid p-fluid">
  <div class="col-6">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "service.name" | translate
      }}</label>
      <input
        pInputText
        id="name"
        #name="ngModel"
        [(ngModel)]="categoriesItem.name"
        required
        [placeholder]="'service.name' | translate"
        [ngClass]="{
          'ng-dirty':
            (name.invalid && submitted) || (name.dirty && name.invalid)
        }"
      />
      <samp
        *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)"
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>

  <div class="col-6" *ngIf="optionValue?.value == true">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "categories.name" | translate
      }}</label>
      <p-dropdown
        id="Category"
        #Category="ngModel"
        [options]="categoryLookup"
        [optionLabel]="'name'"
        [(ngModel)]="categoryLookupValue"
        [filter]="true"
        [filterBy]="'name'"
        [placeholder]="'public.selectOption' | translate"
        [ngClass]="{
          'ng-dirty':
            (Category.invalid && submitted) ||
            (Category.dirty && Category.invalid)
        }"
      ></p-dropdown>
      <samp
        *ngIf="
          (Category.invalid && submitted) ||
          (Category.dirty && Category.invalid)
        "
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>
  <!-- <div class="col-6" *ngIf="optionValue?.value != true">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">Service Type</label>
      <p-dropdown
        id="service_type"
        #service_type="ngModel"
        [options]="serviceType"
        [optionLabel]="'name'"
        [(ngModel)]="serviceTypeValue"
        [filter]="true"
        [filterBy]="'name'"
        [placeholder]="'public.selectOption' | translate"
        [ngClass]="{
          'ng-dirty':
            (service_type.invalid && submitted) ||
            (service_type.dirty && service_type.invalid)
        }"
      ></p-dropdown>
      <samp
        *ngIf="
          (service_type.invalid && submitted) ||
          (!optionValue?.value && submitted) ||
          (service_type.dirty && service_type.invalid)
        "
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div> -->

  <div class="col-6">
    <div class="flex flex-column">
      <label class="font-bold mb-2 required">{{
        "public.status" | translate
      }}</label>
      <p-dropdown
        [options]="states"
        [(ngModel)]="state"
        [placeholder]="'public.selectOption' | translate"
      ></p-dropdown>
    </div>
  </div>

  <div class="col-6">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "categoriesItem.price" | translate
      }}</label>
      <input
        pInputText
        id="price"
        #price="ngModel"
        [(ngModel)]="categoriesItem.price"
        required
        [placeholder]="'categoriesItem.price' | translate"
        [ngClass]="{
          'ng-dirty':
            (name.invalid && submitted) || (name.dirty && name.invalid)
        }"
      />
      <samp
        *ngIf="(name.invalid && submitted) || (name.dirty && name.invalid)"
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>

  <div class="col-12 m-1">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "public.image" | translate
      }}</label>

      <shared-file-uploaded
        [multiple]="true"
        [moduleFolder]="'CategoryItem'"
        (urlResult)="getIog($event)"
      ></shared-file-uploaded>
    </div>
  </div>
  <div class="col-12">
    <div class="flex flex-column">
      <label class="font-bold required mb-2">{{
        "public.description" | translate
      }}</label>

      <textarea
        pInputTextarea
        id="description"
        #description="ngModel"
        [(ngModel)]="categoriesItem.description"
        required
        [placeholder]="'public.description' | translate"
        [ngClass]="{
          'ng-dirty':
            (description.invalid && submitted) ||
            (description.dirty && description.invalid)
        }"
      ></textarea>
      <samp
        *ngIf="
          (description.invalid && submitted) ||
          (description.dirty && description.invalid)
        "
        class="p-error block"
      >
        {{ "public.inputRequired" | translate }}
      </samp>
    </div>
  </div>

  <div class="col-12">
    <div class="flex flex-wrap gap-2 mt-3 mb-2 justify-content-end">
      <p-button
        (click)="updateCategoryItem()"
        [label]="'public.save' | translate"
      ></p-button>
      <p-button
        severity="danger"
        [label]="'public.cancel' | translate"
        (onClick)="closePopup()"
      ></p-button>
    </div>
  </div>
</div>
