<div class="card">
  <p-table
    #dt
    [value]="paging.data"
    [rows]="paging.pageSize"
    [lazy]="true"
    [paginator]="true"
    [first]="paging.currentStartIndex"
    [totalRecords]="paging.totalItems"
    (onPage)="onPageChange($event)"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{{ 'public.showing' | translate }} {{
      paging.currentStartIndex
    }} {{ 'public.to' | translate }} {{ paging.currentEndIndex }} {{
      'public.of' | translate
    }} {{ paging.totalItems }} {{ 'public.rows' | translate }}"
    [rowsPerPageOptions]="[5, 10, 25, 50, 100]"
    dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <button
          pButton
          [label]="'public.new' | translate"
          class="p-button-outlined"
          icon="pi pi-plus"
          [routerLink]="rout.centersCreate"
        ></button>
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (keyup)="filterUpdate($event)"
            [placeholder]="'service.search' | translate"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>{{ "service.name" | translate }}</th>
        <th>{{ "public.description" | translate }}</th>
        <th>{{ "public.status" | translate }}</th>
        <!-- <th>address</th> -->
        <!-- <th>{{ "public.phoneNumber" | translate }}</th> -->

        <th style="width: 12rem; text-align: center">
          {{ "service.actions" | translate }}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-center>
      <tr>
        <td>{{ center.name }}</td>
        <td>{{ center.description }}</td>
        <td>{{ center.status }}</td>
        <!-- <td>{{ category.address }}</td> -->
        <td>
          <div class="text-center">
            <p-button
              icon="pi pi-info"
              [routerLink]="rout.centersDetails + center.id"
              class="p-button-rounded p-button-success"
            ></p-button>

            <p-button
              icon="pi pi-pencil"
              [routerLink]="rout.centersUpdate + center.id"
              class="p-button-rounded p-button-success mx-1"
            ></p-button>

            <p-button
              icon="pi pi-trash"
              class="p-button-rounded p-button-success"
              severity="danger"
              (click)="deleteBtn(center.id)"
            ></p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
