<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="">
    <span class="text-base md:text-lg xl:text-2xl">{{
      "menu.topbar.title" | translate
    }}</span>
    <img src="assets/images/quickFixLogo.png" alt="QuickFix logo" />
  </a>

  <button
    #menubutton
    class="p-link layout-menu-button layout-topbar-button"
    (click)="layoutService.onMenuToggle()"
  >
    <i class="pi pi-bars"></i>
  </button>

  <button
    #topbarmenubutton
    class="p-link layout-topbar-menu-button layout-topbar-button"
    (click)="layoutService.showProfileSidebar()"
  >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div
    #topbarmenu
    class="layout-topbar-menu"
    [ngClass]="{
      'layout-topbar-menu-mobile-active':
        layoutService.state.profileSidebarVisible
    }"
  >
    <div>
      <p-button [link]="true" (click)="op1.toggle($event)">
        <img
          src="assets/images/flag/flag_placeholder.png"
          [class]="'flag flag-' + activeLang.icon"
          style="width: 21px"
        />
        <span class="ml-2">{{ activeLang.label | translate }}</span>
      </p-button>

      <p-overlayPanel #op1>
        <div
          class="flex align-items-center m-1"
          *ngFor="let item of lang; let i = index"
        >
          <p-button
            [link]="true"
            (onClick)="op1.toggle($event)"
            (click)="language(item)"
          >
            <img
              src="assets/images/flag/flag_placeholder.png"
              [class]="'flag flag-' + item.icon"
              style="width: 21px"
            />
            <span class="ml-2">{{ item.label | translate }}</span>
          </p-button>
        </div>
        <!-- </ng-template> -->
      </p-overlayPanel>
    </div>

    <!-- Notification -->

    <div>
      <p-toast></p-toast>
      <button class="p-link layout-topbar-button" (click)="op.toggle($event)">
        <i class="pi pi-bell" id="notify" pBadge [value]="notifyCount"></i>
      </button>

      <p-overlayPanel #op [style]="{ width: '400px' }">
        <div class="mt-3 mb-2">
          <span class="ml-4 mr-4 font-bold">{{
            "menu.topbar.notifications" | translate
          }}</span>
        </div>
        <div class="max-w-30rem max-h-30rem overflow-x-hidden">
          <div *ngFor="let item of notification" class="col-12 flex flex-row">
            <div class="col-2 flex align-items-center justify-content-center">
              <i class="pi pi-list" style="font-size: 2.5rem"></i>
            </div>
            <div class="col-10 flex flex-column">
              <span>{{ item.title }}</span>
              <span>{{ item.subTitle }}</span>
              <span>{{ item.time }}</span>
              <span>{{ item.description }}</span>
            </div>
          </div>
        </div>
      </p-overlayPanel>
    </div>

    <!-- them mode -->
    <div [hidden]="!isDArkTheme">
      <button class="p-link layout-topbar-button" (click)="light()">
        <i class="pi pi-sun"></i>
        <span>WebMode</span>
      </button>
    </div>
    <div [hidden]="isDArkTheme">
      <button class="p-link layout-topbar-button" (click)="dark()">
        <i class="pi pi-moon"></i>
        <span>WebMode</span>
      </button>
    </div>
    <button
      (click)="profile.toggle($event)"
      class="p-link layout-topbar-button"
    >
      <i class="pi pi-user"></i>
      <span>Profile</span>
    </button>
    <p-overlayPanel #profile>
      <div class="m-1">
        <p-button
          [link]="true"
          [routerLink]="route.profile"
          styleClass="w-full"
          (click)="profile.toggle($event)"
        >
          <i class="pi pi-user"></i>
          <span class="ml-2">{{ token.UserName }}</span>
        </p-button>
      </div>
      <div class="m-1">
        <p-button
          [text]="true"
          severity="danger "
          styleClass="w-full"
          (click)="logout(); profile.toggle($event)"
        >
          <i class="pi pi-power-off"></i>
          <span class="ml-2">{{ "auth.logout" | translate }} </span>
        </p-button>
      </div>
    </p-overlayPanel>
  </div>
</div>
